<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <%= link_to 'own site', root_path, :class => 'd-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fs-4', id: "logo" %>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><%= link_to 'Home', root_path, :class => 'nav-link px-2 link-secondary' %></li>
      <li><%= link_to 'Users List', users_path, :class => 'nav-link px-2 link-dark' %></li>
    </ul>

    <% if user_signed_in? %>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown">
          <%= current_user.email %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %></li>
        </ul>
      </div>
    <% else %>
      <div class="col-md-3 text-end">
          <div class="social-icons">
            <nav class="c-nav">
              <ul>
                <li><%= link_to image_tag("https://cdn-icons-png.flaticon.com/512/733/733603.png", size: "32x32"), user_facebook_omniauth_authorize_path, method: :post %></li>
                <li><%= link_to image_tag("https://cdn-icons-png.flaticon.com/512/733/733609.png", size: "32x32"), user_github_omniauth_authorize_path, method: :post %></li>
                <li><%= link_to image_tag("https://cdn-icons-png.flaticon.com/512/733/733613.png", size: "46x46"), user_google_oauth2_omniauth_authorize_path, method: :post %></li>
              </ul>
            </nav>
            </div>
        </div>
    <% end %>
  </header>
</div>