<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.js"></script>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <% if notice %>
  <div class="container">
    <p class="alert alert-success"><%= notice %>
  </p></div>
  <% end %>
  <% if alert %>
  <div class="container">
    <p class="alert alert-danger"><%= alert %></p>
  </div>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
